# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = scrapyredis.settings

[deploy:zabbix01]
url = http://192.168.56.130:6800/
project = scrapyredis
username = scrapyredis
password = tuna

[deploy:es01]
url = http://192.168.56.120:6800/
project = scrapyredis
username = scrapyredis
password = tuna